@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-800 text-gray-100;
    }
}

:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #00875f;
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font: 400 1rem Roboto, sans-serif;
}
